<md-dialog aria-label="Origens da ordem">
	<md-toolbar class="md-warn">
			<div class="md-toolbar-tools">
				<h2>Origens da ordem Jedi</h2>
			</div>
		</md-toolbar>
	<md-dialog-content>		
		<div>
			<p>
				Os Cavaleiros Jedi são uma ordem de indivíduos que tinham a habilidade de tocar e trabalhar em conjunto com a Força, afastando seu Lado Negro. A ordem começou dezenas de milhares de anos antes da ascensão do Império Galáctico. Da mesma forma, o planeta natal da ordem é desconhecida. Existem muitos candidatos, incluindo mundos conhecidos como Coruscant, Ossus, Corellia e Utapau, assim como planetas perdidos e míticos como Had Abbadon e Ondos. É sabido, contudo, que os melhores e mais sábios filósofos, religiosos e guerreiros reuniram-se em um único mundo muito tempo atrás para discutir suas descobertas envolvendo a enigmática, mística Força, e que a concentração desses esforços por fim levaram ao desenvolvimento da Ordem dos Jedi.
			</p>
		</div>
	</md-dialog-content>
</md-dialog>